.postCommentFormAvatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-image: url('https://i.imgur.com/weLyjNz.png');
  background-position: center;
  background-size: 200%;
  float: left;
}

.postCommentFormTextArea {
  display: block;
  border: none;
  font-size: 16px;
  color: rgba(0,0,0,.84);
  font-family: 'Martel', 'Source Serif Pro', serif;
  margin-top: 16px;
  width: 640px;
}

.postCommentSubmit {
  font-family: 'Open Sans', sans-serif;
  background-color: white;
  border: 1px solid #1CAA81;
  font-size: 13px;
  color: #1CAA81;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.postCommentSubmit:hover {
  border: 1px solid rgb(25, 125, 97);
  color: rgb(25, 125, 97);
}

.postCommentUsername {
  display: inline-block;
  box-sizing: border-box;
  height: 36px;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  color: #1CAA81;
  padding: 10px 0;
  margin-left: 12px;
}

.postCommentUserInfo {
  display: block;
}

.postCommentTextArea {

}