.PostListItem {
  margin: 20px;
  width: 328px;
}

.PostListItem a {
  font-family: 'Source Serif Pro', serif;
  text-decoration: none;
  font-size: 24px;
  color: rgba(0, 0, 0, .84);
}

.PostListItem a:hover {
  color: black;
}

.postListItemDesc {
  font-size: 16px;
}

.postListItemImg {
  width: 328px;
  height: 174px;
  background-color: lightgray;
  background-size: cover;
  background-position: center;
  margin-bottom: 15px;
}